{{ define "main" }}
  {{ with .Site.Data.reading }}

    {{ with .reading }}
      <h2>{{ .title }}</h2>
      <ul>
        {{ range .books }}
        <li>{{ .name }} - {{ .author }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ with .toRead }}
      <h2>{{ .title }}</h2>
      <ul>
        {{ range .books }}
        <li>{{ .name }} - {{ .author }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ with .alreadyRead }}
      <h2>{{ .title }}</h2>
        {{ range sort .years ".year" "desc"}}
          <h3>{{ .year }}</h3>
          <ul>
            {{ range .books }}
            <li>{{ .name }} - {{ .author }}</li>
            {{ end }}
          </ul>
        {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
