{{ define "main" }}
  {{ with .Site.Data.reading }}
    <article class="">
      {{ with .reading }}
        <section>
          <header>
            <h2>{{ .title }}</h2>
          </header>

          {{ partial "reading/books.html" . }}
        </section>
      {{ end }}

      {{ with .toRead }}
        <section>
          <header>
            <h2>{{ .title }}</h2>
          </header>

          {{ partial "reading/books.html" . }}
        </section>
      {{ end }}

      {{ with .alreadyRead }}
        <section>
          <header>
            <h2>{{ .title }}</h2>
          </header>

          {{ range sort .years ".year" "desc" }}
            <h3>{{ .year }}</h3>
            {{ partial "reading/books.html" . }}
          {{ end }}
        </section>
      {{ end }}
    </article>
  {{ end }}
{{ end }}
