<section class="tc pb3">
  <img src="{{ .Site.Params.logo }}" class="w4"/>
  <p class="f3">{{ .Site.Author.name }}</p>
  <ul class="list pa0">
    {{ with .Site.Author.github }}
      <li class="dib"><a class="link dim gray pa2" href="{{ . }}"><img src="images/github.svg" class="w2"/></a></li>
    {{ end }}

    {{ with .Site.Author.gitlab }}
    <li class="dib"><a class="link dim gray pa2" href="{{ . }}"><img src="images/gitlab.svg" class="w2"/></a></li>
    {{ end }}

    {{ with .Site.Author.linkedin }}
    <li  class="dib"><a class="link dim gray pa2" href="{{ . }}"><img src="images/linkedin.svg" class="w2"/></a></li>
    {{ end }}
  </ul>
</section>
