<header
  class="py-4 border-b border-divider sm:flex sm:items-center sm:mx-auto sm:px-4 sm:max-w-3xl md:max-w-5xl"
>
  <a class="block mb-4 mt-6 sm:my-0" href="{{ .Site.BaseURL }}">
    {{ with .Site.Params.logo }}
      <img src="{{ . | relURL }}" alt="logo" class="mx-auto w-20 sm:w-16" />
      {{ else }}
      <span
        class="serif block text-center font-serif text-2xl font-bold sm:py-2"
      >
        {{ .Site.Title }}
      </span>
    {{ end }}
  </a>

  <nav class="text-center text-gray text-sm font-medium uppercase sm:ml-auto">
    {{ range .Site.Menus.main }}
      <a
        class="mx-1 px-1 hover:text-primary focus:text-primary"
        href="{{ .URL }}"
      >
        {{ .Name }}
      </a>
    {{ end }}
  </nav>
</header>
