<section class="mb-8">
  {{ with .Site.Data.author.education }}
    <header class="mb-3">
      <h2 class="text-primary-dark text-lg font-bold">Education</h2>
    </header>

    <ul class="">
      {{ range $edu := . }}
        <li class="flex flex-col mb-3">
          <div class="flex flex-col items-baseline justify-between sm:flex-row">
            <span class="mb-0.5 font-medium">{{ $edu.degree }}</span>
            <span class="mb-0.5 font-mono text-sm"
              >{{ $edu.from }} - {{ $edu.to }}</span
            >
          </div>
          <span class="text-gray text-sm">{{ $edu.major }}</span>
          <span class="text-gray text-sm">{{ $edu.school }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
