<section class="mb-8">
  {{ with .Site.Data.author.education }}
    <header class="mb-2">
      <h2 class="text-primary-dark font-bold">Education</h2>
    </header>

    <ul class="">
      {{ range $elem_index, $edu := . }}
        <li class="flex flex-col mb-3">
          <span class="mb-0.5">{{ $edu.degree }} - {{ $edu.major }}</span>
          <span class="text-gray text-sm">{{ $edu.school | markdownify }}</span>
          <span class="text-gray text-sm"
            >{{ $edu.authors | markdownify }}</span
          >
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
