<section class="">
  {{ $avatar := .Site.Author.avatar }}
  {{ $name := .Site.Author.name }}
  {{ $baseURL := .Site.BaseURL }}

  {{ with .Site.Data.author }}
    <img
      src="{{ $avatar | absURL }}"
      class="mx-auto p-1 w-36 border border-divider rounded-full"
    />

    <h1 class="text-black text-center font-serif text-2xl font-bold">
      {{ $name }}
    </h1>

    <div class="flex">
      <div class="flex-grow text-sm">
        {{ with .affiliation }}
          <p class="">{{ .position }}, {{ .name }}</p>
          <p class="">{{ .contact }}</p>
        {{ end }}
      </div>

      <ul class="text-center">
        {{ range $index, $key := .social }}
          <li class="inline-block">
            <a
              href="{{ $key.url }}"
              title="{{ $key.name }}"
              class="inline-block"
            >
              <img src="{{ $key.icon | absURL }}" class="w-4 opacity-70" />
            </a>
          </li>
        {{ end }}

        <li class="inline-block">
          <a href="{{ $baseURL }}" class=""><span>Blog</span></a>
        </li>
      </ul>
    </div>
  {{ end }}
</section>
