<section class="">
  {{ $avatar := .Site.Author.avatar }}
  {{ $name := .Site.Author.name }}
  {{ $baseURL := .Site.BaseURL }}

  {{ with .Site.Data.author }}
    <img src="{{ $avatar | absURL }}" class="" />

    <div class="">
      <div class="">
        <h1 class="">{{ $name }}</h1>

        {{ range $index, $key := .affiliation }}
          <ul class="">
            <li class="">{{ $key.position }}, {{ $key.name }}</li>
            <li class="">{{ $key.contact }}</li>
          </ul>
        {{ end }}
      </div>

      <ul class="">
        {{ range $index, $key := .social }}
          <li class="">
            <a href="{{ $key.url }}" title="{{ $key.name }}" class="">
              <img src="{{ $key.icon | absURL }}" class="" />
            </a>
          </li>
        {{ end }}

        <li class="">
          <a href="{{ $baseURL }}" class=""><span>[Blog]</span></a>
        </li>
      </ul>
    </div>
  {{ end }}
</section>

<!-- <section class="">
  <span>
    <b>Interests.</b> {{ $.Site.Author.interests | markdownify }}
  </span>
</section> -->
