<section class="mb-8">
  {{ with .Site.Data.author.publication }}
    <header class="mb-3">
      <h2 class="text-primary-dark text-lg font-bold">Selected Publications</h2>
    </header>

    <ul class="">
      {{ range $publication := . }}
        <li class="flex flex-col mb-3">
          {{ if $publication.link }}
            <a href="{{ $publication.link }}" class="mb-0.5"
              >{{ $publication.name }}</a
            >
            {{ else }}
            <span class="mb-0.5">{{ $publication.name }}</span>
          {{ end }}
          <span class="text-gray text-sm"
            >{{ $publication.dest | markdownify }}</span
          >
          <span class="text-gray text-sm"
            >{{ $publication.authors | markdownify }}</span
          >
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
