<article class="">
  {{ with .Site.Author.publications }}
  <h3>Publications</h3>
  <ul>
    {{ range $elem_index, $publication := . }}
    <li>
      <p>
        {{ if $publication.link }}
          <a href="{{ $publication.link }}" class="publications">{{ $publication.name }},</a>
        {{ else }}
          <span class="">{{ $publication.name }},</span>
        {{ end }}
        <span class="fw3">{{ $publication.dest | markdownify }}.</span>
      </p>

      <p>
        <span class="fw3">
          {{ $publication.authors | markdownify }}
        </span>
      </p>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</article>
