article {
  h2,
  h3 {
    letter-spacing: $letter-spacing-tight;
    font-weight: 600;
    color: $accent-color-light;
    &::before {
      color: $accent-color;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.05em;
    }
  }

  h2::before {
    content: "#";
    margin-right: 3px;
    margin-left: -17px;
  }

  // h3::before {
  //   content: "##";
  //   margin-right: 3px;
  //   margin-left: -28px;
  // }
}
