@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=vietnamese");

code,
.code,
pre code,
.highlight pre {
  font-family: $code;
}

.opensans {
  font-family: "Open Sans", $sans-serif;
}

.playfair {
  font-family: "Playfair Display", $serif;
}
