$primary-color: rgba(0, 0, 0, 0.87);
$primary-color-dark: rgba(0, 0, 0, 1);
$primary-color-light: rgba(0, 0, 0, 0.55);

$accent-color: #00cc6d;
$accent-color-light: #005005;
$accent-color-dark: #00363a;

$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.71);
$text-color-disabled: rgba(0, 0, 0, 0.55);

$divider-color: rgba(0, 0, 0, 0.22);

$width-logo: 3.5rem;

$playfair: "Playfair Display", $serif;
