$playfair: "Playfair Display", $serif;
$width-logo: 3.5rem;

// Light theme
$primary-color: rgba(0, 0, 0, 0.87);
$primary-color-dark: rgba(0, 0, 0, 1);
$primary-color-light: rgba(0, 0, 0, 0.55);

$accent-color: #005005;
$accent-color-light: #00cc6d;
$accent-color-dark: #00363a;

$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.71);
$text-color-disabled: rgba(0, 0, 0, 0.55);

$divider-color: rgba(0, 0, 0, 0.22);

// Dark theme
// $primary-color: rgba(255, 255, 255, 0.87);
// $primary-color-dark: rgba(255, 255, 255, 1);
// $primary-color-light: rgba(255, 255, 255, 0.55);

// $accent-color: #00cc6d;
// $accent-color-light: #39eb98;
// $accent-color-dark: #187c4d;

// $text-color-primary: rgba(255, 255, 255, 0.87);
// $text-color-secondary: rgba(255, 255, 255, 0.71);
// $text-color-disabled: rgba(255, 255, 255, 0.55);

// $divider-color: rgba(255, 255, 255, 0.22);
