.prose {
  & p {
    text-align: justify;
  }

  & h2,
  & h3 {
    @apply text-primary-dark;
  }

  & h2::before {
    @apply text-primary text-sm font-medium;

    content: "#";
    margin-right: 3px;
    margin-left: -12px;
  }
}
