code {
  padding: 0.3em;
  font-size: 80%;
  background-color: rgba(27, 31, 35, 0.05);
}

.chroma .lntable .lntd:nth-child(2) {
  width: 100%;
}

.chroma .lntable pre {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.chroma .lntable pre code {
  display: block;
  margin: 0;
  line-height: 1.5;
}
